@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Inter, sans-serif;
}

[data-item]:last-of-type > div > [data-key] {
    border-bottom: none;
}

[data-item]:not(:last-of-type) > div > [data-key] {
    border-radius: 0;
}


.dnd-sortable-tree_simple_tree-item {
    padding: 0 !important;
}

.dnd-sortable-tree_simple_tree-item-collapse_button {
    display: none !important;
}
